html {
    background: #e6e9e9;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 0px 20px 30px 20px;
}

header {
    min-height: 30px;
}

#image_container {
    width: 800px;
    height: 600px;
    background-color: azure;
    line-height: 600px;
    text-align: center;
}

#yes_no_answer_container {
    margin-top: 10px;
}

.yes_no_button {
    width: 300px;
    height: 100px;
    background-color: darkseagreen;
    display: inline-block;
    text-align: center;
    line-height: 50px;
}

.yes_no_button:active {
    background-color: dimgrey;
}

.right_align {
    float: right;
}