html {
    background: #e6e9e9;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0 auto;
    max-width: 800px;
    padding: 1px 20px 30px 20px;
}

header {
    background-color: #5F6F88;
    color: white;
    text-align: center;
    min-height: 60px;
    vertical-align: middle;
}

#image_container {
    max-width: 800px;
    max-height: 600px;
    text-align: center;
}

#image {
    max-width: 100%;
    max-height: 100%;
}

#yes_no_answer_container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#bad_button {
    background-color: white;
    color: #279be9;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    min-width: 100px;
    flex-grow: 1;
    border: 1px solid #279be9;
}

#no_button {
    background-color: #007acd;
}

#yes_button {
    background-color: #f9af2c;
}

.primary_button {
    background-color: darkseagreen;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 5px;
    flex-grow: 4;
    min-width: 300px;
}

#no_button:active {
    background-color: #3DA5EB;
}

#yes_button:active {
    background-color: #FFCB4F;
}